@inject IHostingEnvironment hostEnvironment

<header class="header">
    <div class="bar top-bar">
        <div class="bar-container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="bar-item">
                        <a href="/">
                            <img src="~/images/logo-docsvision.png" alt="DocsVision" style="height:50px;" />
                        </a>
                    </div>
                    <span class="pr-3"></span>
                    <div class="bar-item">
                        <a href="/">Сервисы мониторинга СЭД DocsVision</a>
                    </div>
                    
                    <div class="ml-auto mr-auto">
                    </div>

                    @if (User.Identity.IsAuthenticated || hostEnvironment.IsDevelopment())
                    {
                        <div class="bar-item pull-right">
                            <span>User info + logout</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>