<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Simple web service to monitor DocsVision documents" />
	<meta name="author" content="Dmitry Kalinov" />

	<environment include="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.css" />

		<link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />

		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	</environment>

	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css" />

		<link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />

		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	</environment>

	<link rel="stylesheet" type="text/css" href="~/lib/kendo/kendo.common.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/kendo/kendo.bootstrap-v4.min.css" />

	<script src="~/lib/kendo/jszip.min.js"></script>
	<script src="~/lib/kendo/kendo.all.min.js"></script>

    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="top-container">
        @await Html.PartialAsync("_Header")
    </div>

    <div class="nav-container">
        @await Html.PartialAsync("_Navigation")
    </div>

    <div>
        <main class="main-container">
            @RenderBody()
        </main>
    </div>

    <hr />

    <div class="bottom-container">
        @await Html.PartialAsync("_Footer")
    </div>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>