<nav class="nav navbar-nav admin-navbar">
    <div class="navbar-header">
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav"><li></li></ul>
    </div>
    <br />
    <div class="navbar-content">
        <br />
        <ul id="menu">
            <li><a href="/">На главную</a></li>
            <li>
                Настройки
                <ul>
                    <li>@Html.ActionLink("Документы без ярлыков", "DocumentsWithoutShortcuts", "Settings")</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>