<nav class="nav navbar-nav admin-navbar">
    <div class="navbar-header">
    </div>
    <br />
    <div class="navbar-content">
        <ul id="menu">
            <li><a href="/">На главную</a></li>
            <li>
                Настройки
                <ul>
                    <li>@Html.ActionLink("Документы без ярлыков", "DocumentsWithoutShortcuts", "Settings")</li>
                </ul>
            </li>
            <li>
                <a href="/hangfire">Hangfire Dashboard</a>
            </li>
        </ul>
    </div>
</nav>