<div class="col-md-12">
	<div class="bg-light">
		<h2>User claims</h2>

		<div class="row">
			<div class="col-md-4">
				<span>User is DocsVision Admin? </span>
			</div>
			<span> => </span>
			<div class="col-md-4">
				<span>@User.IsInRole("DocsVision Administrators")</span>
			</div>
		</div>

		@foreach (var item in User.Claims)
		{
			<div class="row">
				<div class="col-md-4">
					<span>@item.Type</span>
				</div>
				<span> => </span>
				<div class="col-md-4">
					<span>@item.Value</span>
				</div>
			</div>
		}
	</div>
</div>